/*.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.05;
}
input[type="radio"]{
    display: none;

}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;/*to hidden the element*/
    /*transition: max-height 0.5s, padding 0.5s;

}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);*/
.three-div-one{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.three-div-one li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: counter(button);
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.05;
}
input[type="radio"]{
    display: none;
}
.three-div-one.content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
}
.three-div-one input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.three-div-one input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}